
  .card {
    width: 250px;
    height: auto;
    border: 1px solid #FFFFFF; /* Đường viền trắng */
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    background-color: #FFFFFF; /* Màu nền trắng cho thẻ */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }
  
  .card-label {
    background-color: #FFC0CB; /* Màu nền hồng phấn cho nhãn */
    color: #FFFFFF; /* Màu chữ trắng */
    font-weight: bold;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .card-name {
    font-size: 24px;
    margin: 10px 0;
    color: #000000; /* Màu chữ đen */
  }
  
  .card-price {
    color: #FFC0CB; /* Màu chữ hồng phấn */
    font-weight: bold;
    display: flex; /* Sử dụng flexbox để căn chỉnh các thành phần */
    justify-content: space-between;
  }
  
  .card-discount {
    color: #FF0000; /* Màu chữ đỏ */
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
  }
  
  .card-rating {
    color: #C0C0C0; /* Màu chữ bạc */
    font-size: 18px;
  }
  .khungsp {
    width: 100%; /* Chiều rộng tối đa của div */
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa div và loại bỏ margin bên trái */
    box-sizing: border-box; /* Đảm bảo rằng padding và border không làm tăng kích thước của div */
    padding: 20px; /* Thêm padding cho div */
  }
  
  .khungsp > span {
    margin-left: 0;
    margin-right: auto;
    font-size: 24px; /* Tăng kích thước chữ */
    color: black; /* Đổi màu chữ thành đen */
  }
  .khungsp2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0; /* Loại bỏ padding */
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto; /* Căn giữa container và loại bỏ margin bên trái */
    max-width: 1200px; /* Giới hạn bề ngang của container */
    box-sizing: border-box; /* Đảm bảo rằng padding và border không làm tăng kích thước của container */
  }
  
  .cell {
    width: 100%; /* Chiều rộng tối đa của thẻ */
    max-width: 290px; /* Giới hạn chiều rộng tối đa */
    background: #fff;
    border-radius: 10px; /* Thêm bo góc */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Thêm bóng */
  }
  .cell:hover {
    background-color: #FFC0CB; /* Thay đổi màu nền khi di chuột qua */
  }
  