body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
}

.image {
    width: 200px;
    height: auto;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
